.settings-modal {
    position: fixed;
    background-color: var(--background-color);
    top: 80px;
    left: 20px;
    width: 270px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid var(--line-color);
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.settings-modal-section {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.settings-modal-section:hover{
    background-color: var(--first-gray);
}

.multiple-items {
    justify-content: space-between;
}

.settings-modal-section-text{
    font-weight: bold;
    margin: 10px;
    font-size: 16px;
    color: var(--text-color-primary)
}

.theme-text {
    font-weight: bolder;
    margin: 5px 10px 5px 10px;
    color: var(--text-color-primary)
}

.settings-modal-button {
    border-radius: 16px;
    background-color: var(--second-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.log-out-text{
    color: red;
}

